body {
    background: #88c9a1 url(/static/images/assets/pattern-confetti.jpg) repeat top left;
}

ul.data-thumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    & > li {
        list-style: none;
        margin: 0;
        padding: 0;
        & > a {
            display: block;
        }
    }
}