<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}AXNH{% endblock %}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/screen.min.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body class="grid-page">

        <header class="container">
            {% block navbar %}
            <nav role="navigation">
                <ul class="nav navbar-nav">
                    <li><a href="/">Now</a></li>
                    <li><a href="{{ url_for('fish') }}">All Fish</a></li>
                    <li><a href="{{ url_for('bugs') }}">All Bugs</a></li>
                    <!-- <li><a href="{{ url_for('events') }}">All Events</a></li> -->
                </ul>
                <form action="{{ url_for('search') }}" method="post" id="search">
                    {{ search_form.query(placeholder='Search all the things') }}
                    {{ search_form.submit }}
                    {{ search_form.csrf_token }}
                </form>
            </nav>
            {% endblock %}
        </header>

        {% block content %}
        <div id="flash"></div>
        {% block page_content %}{% endblock %}
        {% endblock %}

        <footer>{% block foot %}{% endblock %}</footer>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='javascript/moment-with-locales.min.js') }}"></script>
        <script>
            moment.locale("en");
            function flask_moment_render(elem) {
                $(elem).text(eval('moment("' + $(elem).data('timestamp') + '").' + $(elem).data('format') + ';'));
                $(elem).removeClass('flask-moment').show();
            }
            function flask_moment_render_all() {
                $('.flask-moment').each(function () {
                    flask_moment_render(this);
                    if ($(this).data('refresh')) {
                        (function (elem, interval) { setInterval(function () { flask_moment_render(elem) }, interval); })(this, $(this).data('refresh'));
                    }
                })
            }
            $(document).ready(function () {
                flask_moment_render_all();
            });
        </script>
        <script src="{{ url_for('static', filename='javascript/app.min.js') }}"></script>
        <script>
            $(document).ready(function () {
                {% for message in get_flashed_messages() %}
                flash('{{message}}');
                {% endfor %}
            });
        </script>
        {% block scripts %}{% endblock %}

    </body>
</html>