{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}AXNH{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='css/screen.min.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script src="{{ url_for('static', filename='javascript/app.min.js') }}"></script>
<script> 
    $(document).ready(function(){
        {% for message in get_flashed_messages() %}
            flash('{{message}}');
        {% endfor %}
    });
</script>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">AXNH</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Now</a></li>
                <li><a href="{{ url_for('fish') }}">All Fish</a></li>
                <li><a href="{{ url_for('bugs') }}">All Bugs</a></li>
                <li><a href="{{ url_for('events') }}">All Events</a></li>
            </ul>
        </div>
        <form action="{{ url_for('search') }}" method="post">
            {{ search_form.query(placeholder='Search all the things') }}
            {{ search_form.submit }}
            {{ search_form.csrf_token }}
        </form>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <div id="flash"></div>
    {% block page_content %}{% endblock %}
</div>
{% endblock %}