{% extends "base.html" %}

{% block page_content %}
{% if name %}
<h1>{{name}}</h1>
<p>It's a fish</p>
{% else %}
<h1>Fish</h1>

<table>
{% for item in fish %}
    {% if loop.first %}
        <tr>
        {% for key, value in item.items() %}
            <th>{{ key }}</th>
        {% endfor %}
        </tr>
    {% endif %}
    <tr>
        {% for key, value in item.items() %}
            <td class="{{ loop.cycle('odd','even') }}">
            {% if key == 'Name' %}
                <a href="{{url_for('fish', name=value)}}">{{value}}</a>
            {% else %}
                {{value}}
            {% endif %}    
            </td>
        {% endfor %}
    </tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}