{% extends "base.html" %}

{% block page_content %}
{% if name %}
<h1>{{name}}</h1>
<p>It's a fish</p>
<p>here's some info {{ data }}</p>
{% else %}
<h1>Fish</h1>

<table>
{% for name, d in data.items() %}
    {% if loop.first %}
        <tr>
            <th>Fish</th>
            {% for key, value in d.items() %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
    {% endif %}
    <tr>
        <td><a href="{{url_for('fish', name=name)}}">{{name}}</a></td>
        {% for key, value in d.items() %}
            <td>{{value}}</td>
        {% endfor %}
    </tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}