{% extends "base.html" %}

{% block page_content %}
<main>
    <div class="page-header">
        <h1>Home</h1>
    </div>
    <p>Hello world!</p>
    <p>This page loaded at {{ moment(current_time).format('LLLL') }} (That was {{ moment(current_time).fromNow(refresh=True) }})</p>
    <h2>Critters available at <span id="time">{{ moment(current_time).format('LLLL') }}</span></h2>
    <pre>{{data}}</pre>
    <p>This feature is coming soon. See raw data:</p>
    <ul>
        <li><a href="{{ url_for('fish') }}">Fish</a></li>
        <li><s>Bugs</s></li>
        <li><s>Events</s></li>
        <li>Search eg. <a href="{{url_for('search', query='Bitterling')}}">Bitterling</a></li>
    </ul>
    <!--<h2>Featured Content</h2>
    <ul>
        <li><a href="{{ url_for('user', name='bob', show='profile', is_foo=1) }}">Bob User Profile</a></li>
        <li><a href="{{ url_for('bugs', name='Rhinocerous Beetle', foo='bar') }}">Rhinocerous Beetle</a></li>
        <li><a href="{{ url_for('fish', name='', page=1) }}">All Fish</a></li>
    </ul>-->
</main>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='javascript/moment-timezone-with-data-10-year-range.js') }}"></script>
<script> 
    function sendTimeToServer(){
        var time_readable = moment().format('MMMM Do YYYY, h:mm:ss a');
        var time = moment().format('M D H');
        var timezone = moment.tz.guess();
        document.getElementById("time").innerHTML = time_readable + ' ' + timezone;
        $.get("getTime", { time: time + ' ' + timezone }, function(response){
            flash(response.response);
            console.log('Send time to backend; Response: ' + response.response);
        });
    }
    $(document).ready(function(){
        sendTimeToServer();
    });
</script>
{% endblock %}