{% extends "base.html" %}

{%block head %}
<style>
    @media (max-width: 640px) {
        header nav form#search {
            display: block !important;
            float: none;
            position: absolute;
            top: 2.5em;
        }
    }
</style>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        {% if query is None %}
            Search all the things
        {% else %}
            We found {{ num_results }} results for <i>{{ query }}</i>
        {% endif %}
    </h1>
</div>

<div id="searchresults" class="data-list">
    {% if num_results_bugs %}
        {% include 'bugs_render.html' %}
    {% endif %}
    {% if num_results_fish %}
        {% include 'fish_render.html' %}
    {% endif %}
</div>
{% endblock %}